*{
    margin: 0;
    padding: 0;
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
section{
    padding: 20px  9%;
}

/*---------------hero---------------------*/
.hero{
    background: url(images/homeBg.png);
    min-height: 120vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 75px;
    width: 100%;
}
.hero img{
    width: 200px;
    margin-bottom: 30px;
}
.hero h4{
    color: #fff;
    font-size: 38px;
    font-weight: 600;
}
.about{
    display: flex;
    flex-wrap: wrap;
    background: #000;

}
.about-col{
    flex-basis: 45%;
}
.years{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background: #f8e5e5;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: #c39ea0 ;
    margin-bottom: 30px;
    margin-top: -70px;
}
.about-col p{
    color: #fff;
}
p{
    font-size: 18px;
    line-height: 1.5;
}
.about-col img{
    height: 450px;
    width: 80%;
    margin-top: -110px;
}
.col1{
    text-align: end;
}
.about-col h5{
    font-size: 25px;
    line-height: 2;
    color: #fff;
}
.about-col h2{
    color: #fff;
}
h2{
    font-size: 50px;
}

.service{
    padding:0;
    width: 100%;
}
.ser-img img{
    width: 100%;
}
.ser-content{
    display: flex;
    padding: 100px 9%;
    flex-wrap: wrap;
    gap: 50px;
    background: #000;
}
.content-info{
    flex: 160px;
    text-align: center;
}
svg{
    width:70px;
    fill: #fff;
    margin-bottom: 20px;
}
.content-info p{
    color: #fff;
    font-size: 15px;
}
.content-info h4{
    font-size: 22px;
    color: #fff;
    padding-bottom: 15px;
}
.award{
    background: url(images/award.jpeg);
    background-position:center ;
    background-size: cover;
    min-height: 90vh;
}
.award-info{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}
.award-info h2{
    color: #fff;
    text-align: end;
}
.award-info p{
    color: #fff;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 55%;
    text-align: end;
}
.btn{
    font-size: 15px;
    background: #c39ea0;
    color: #fff;
    padding: 14px 28px;
}
.mission {
    background:linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)) ,url(images/pexelsphoto931911.jpeg);
    background-position: center;
    background-size: cover;
    min-height: 110vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.heading{
    flex-basis: 45%;
    margin-right: 50px;
}
.heading h3, h2{
    color: #fff;
}
.mission-info{
    flex-basis: 45%;
}
.mission-info p{
    color: #fff;
}
.client{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #000;
    flex-wrap: wrap;
}
.client-col{
    flex-basis: 45%;
    margin-bottom: 30px;
}
.client-col img{
    width: 100%;
    height: 600px;
}
.client-col p{
    color: #fff;
    margin: 30px 0px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
}
.gallery-img{
    flex-basis: 33.33%;
}
.gallery-img  img{
    width: 100%;
    height: 500px;
}
.contact{
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.2)),url(images/contact.jpeg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 90px;
}
.contact-info img{
    width: 200px;
}
.contact-info{
    flex-basis: 48%;
    margin-bottom: 40px;
    text-align: center;
}
.contact-info p{
    color: #fff;
    margin: 25px 0px;
    margin-left: 50px;
}
.contact-icon i{
    color: #fff;
    font-size: 28px;
    padding-left: 20px;
}
.contact-form{
    flex-basis: 48%;
}
.contact-form input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: 2px solid #fff;
    margin-bottom: 30px;
    padding-left: 10px;
}
.contact-form textarea{
    width: 100%;
    height: 100px;
    background: transparent;
    border: 2px solid #fff;
    padding-left: 10px;
    margin-bottom: 30px;
}
.contact-form a{
    background: #f8e5e5;
    color: #000;
    padding: 12px 22px;
}
footer{
    background: #000;
}
footer p{
    color: #fff;
    text-align: center;
    padding: 40px 0px;
}













@media(max-width:991px){
    section{
        padding: 50px;
    }
    .content-info{
        flex: 300px;
    }
    .ser-content{
        padding:20px;
    }

}





@media(max-width:765px){
    .about-col{
        flex-basis: 100%;
    }
    .about-col img{
        margin-top:10px;
        width: 100%;
    }
    .years{
        margin-top: 10px;
    }
    .mission-info{
        flex-basis: 100%;
    }
    .heading{
        flex-basis: 100%;
        margin-right: 0px;
        margin-bottom: 50px;
    }
    .client-col{
        flex-basis: 100%;
    }
    .gallery-img{
        flex-basis:100%;
    }
    .contact-info{
        flex-basis: 100%;
    }
    .contact-form{
        flex-basis: 100%;
    }
    

}

@media(max-width:495px){
   .award-info p{
    width: 90%;
   }

}